
{% extends '_templates/base.njk' %}

{% block page_title %}About The Band{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <p>Welcome to the website where you can find everything Queen! Queen is a rock band made up of four members. On this page, you can find more information on each member. Explore other pages to see thier Discography, Tour dates, and Billboard hits!</p>
      <h1>Meet the Members of Queen</h1>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for member in queen.members %}
          <div class="col">
            <div class="card info-border-subtle mb-3">
              <img src="img/{{ member.image }}" class="card-img-top" alt="{{ member.name }} Photo">
              <div class="card-body">
                <h5 class="card-title"><a href="queen/{{ member.slug }}.html" class="page-title">{{ member.name }}</a></h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}